* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.text-primary {
    color: #F15B22;
}

.btn-primary {
    height: 55px;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 40px;
}

.btn-call {
    height: 55px;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 45px;
    position: absolute;
    left: 220px;
    top: 2280px;
}

.btn-Contact {
    border-radius: 5px;
    color: white;
    background-color: #000000;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 40px;
    left: 1030px;
    top: 580px;
    position: absolute;
}

/* header and navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    background: url("../images/banner/banner1.png");
    background-size: cover;
    height: 100vh;
}

nav li {
    list-style: none;
    margin-left: 25px;
    font-size: 18px;
    font-weight: 1000;
    color: grey;
}

nav ul {
    display: flex;
    align-items: center;
    margin-right: 90px;
    margin-bottom: 605px;
}

.nav-title {
    font-size: 700;
    font-size: 60px;
    margin-left: 225px;
    margin-top: 40px;
}

/* banner style*/
.banner {
    display: flex;
    margin: 0 1000px;
    align-items: center;
}

.banner-title {
    position: absolute;
    width: 525px;
    height: 228px;
    left: 695px;
    top: 216px;
    font-weight: 900;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
}

.banner-info {
    position: absolute;
    width: 494px;
    height: 78px;
    left: 725px;
    top: 460px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343
}

/* section-info styles */
.picture {
    position: absolute;
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;

}

.section-title {
    position: absolute;
    width: 288px;
    height: 94px;
    left: 790px;
    top: 1180px;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
}

.section-info-division {
    color: #444343;
    position: absolute;
    width: 416px;
    height: 104px;
    left: 790px;
    top: 1296px;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}

li {
    list-style: none;

}

.section-info-sub-division {
    position: absolute;
    width: 349px;
    height: 26px;
    left: 770px;
    top: 1410px;
}

.icon-pic {
    width: 15px;
    margin-top: 8px;
}

/* My Plans Styles */
.plan-title {
    position: absolute;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    width: 200px;
    height: 50px;
    left: 585px;
    top: 1720px;
}

.icon-main-con {
    display: flex;
    margin-top: 1125px;
    margin-left: 65px;

}

.icon-division {
    margin-left: 140px;
}

.plan-header {
    font-weight: 700;
    line-height: 35px;
    text-align: center
}

.plan-des {
    color: #737272
}

/*  watch image and gradient  styles */
.image {
    margin-left: 140px;
    margin-top: 130px;
    margin-bottom: 130px;
    border-radius: 8px;
    background-image: url("../images/watch.png");

}

.img-text {
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
    position: absolute;
    width: 459px;
    height: 94px;
    left: 220px;
    top: 2150px;
    color: white;
}

/* footer section styles */
.footer section,
.footer-main {
    background: #151414;
    height: 60vh;
    display: flex;
    padding: 50px 0px;
}

.footer-main-info {
    margin: 20px 30px;

}

.future-section {
    margin: 20px 100px;
    width: 500px;
}

.future-head {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 15px;
    margin-left: 70px;
}

.future-info {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 70px;
    margin-top: 30px;
    text-align: left;

}

.future-email {
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 70px;
    margin-top: 30px;
}

.future-phone {
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 70px;
    margin-top: 12px;
}

.main-icon-container {
    display: flex;
    margin-left: 70px;
    margin-top: 30px;
}

.sub-icon {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    margin-right: 15px;

}

.subscribe-main-info {
    color: #FFFFFF;
    margin-left: 175px;
    font-weight: 900;
    font-size: 16px;
    margin-top: 45px;
    text-align: left;
}

.subscribe-section {
    margin-top: 30px;
    color: white;
}

.subscribe-head {
    font-weight: 900;
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 30px;
    ;
}

.subscribe-container>input {
    width: 290px;
    height: 60px;
    background-color: #151414;
    border: 1px solid white;
    margin: 10px 0;
    border-radius: 10px;
}

#email {
    font-size: 15px;
    text-align: left;
    font-weight: bolder;
    margin-right: 10px;
    background-color: black;
    border-radius: 10px;
    border-color: white;
    padding: 20px;
}

.sub-btn {
    margin-bottom: 500px;
    color: #F15B22;
    font-size: 18px;
    font-weight: bolder;
    margin-left: 2px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    padding: 20px 35px;
}
.btn-bg{
    background-color: #000000;
}