* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.text-primary {
    color: #F15B22;
}

.btn-primary {
    height: 55px;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 40px;
}

.btn-Contact {
    border-radius: 5px;
    color: white;
    background-color: #000000;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    padding: 18px 40px;
    left: 1030px;
    top: 580px;
    position: absolute;
}

/* header and navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    background: url("../images/banner/banner1.png");
    background-size: cover;
    height: 100vh;
}

nav li {
    list-style: none;
    margin-left: 25px;
    font-size: 18px;
    font-weight: 1000;
    color: grey;
}

nav ul {
    display: flex;
    align-items: center;
    margin-right: 90px;
    margin-bottom: 605px;
}

.nav-title {
    font-size: 700;
    font-size: 60px;
    margin-left: 225px;
    margin-top: 40px;
}

/* banner style*/
.banner {
    display: flex;
    margin: 0 1000px;
    align-items: center;
}

.banner-title {
    position: absolute;
    width: 525px;
    height: 228px;
    left: 695px;
    top: 216px;
    font-weight: 900;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
}

.banner-info {
    position: absolute;
    width: 494px;
    height: 78px;
    left: 725px;
    top: 460px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343
}

/* section-info styles */
.picture {
    position: absolute;
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;

}

.section-title {
    position: absolute;
    width: 288px;
    height: 94px;
    left: 790px;
    top: 1153px;
    font-weight: 900;
    font-size: 40px;
    line-height: 47px;
}

.section-info-division {
    color: #444343;
    position: absolute;
    width: 416px;
    height: 104px;
    left: 790px;
    top: 1296px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.section-info-sub-division {
    position: absolute;
    width: 349px;
    height: 26px;
    left: 795px;
    top: 1416px;
}

/* My Plans Styles */
.plan-title {
    position: absolute;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    width: 200px;
    height: 50px;
    left: 600px;
    top: 1800px;
}

